* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-top: 2px solid rgb(228, 225, 225);
}
