* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.searchBar-container {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid green; */
  border-bottom: 1px solid rgb(235, 228, 228);
}

.search-box {
  display: none;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 5px 90px;
}

.logo {
  text-align: center;
  margin: 0;
}

span {
  color: rgb(66, 28, 238);
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  /* border: 2px solid green; */
  margin: 0 auto;
}

.row-container,
.cta-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  /* border: 2px solid purple; */
  height: 100px;
  margin-top: 50px;
}

.icons {
  font-size: 25px;
  margin-left: 12px;
}

h4 {
  margin: 0px;
  margin-left: 8px;
}

.card {
  width: 100%;
  margin-left: 3px;
  /* border: 2px solid red; */
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

/* *********************************************************************** */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo-container {
    display: flex;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 10px;
    border: none;
  }

  .search-box {
    width: 50%;
    /* border: 2px solid purple; */
    padding: 10px;
    display: block;
  }

  .searchBar-container {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid rgb(228, 225, 225);
    padding: 15px;
    /* border: 2px solid green; */
  }

  h6 {
    font-size: 22.5px;
  }

  .card-container {
    display: flex;
    height: 100%;
  }

  .cta-container {
    margin-top: 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
